body{
	margin: 0 auto;
	font-family: TUI-reg;
  font-size: 18px !important;
  color: #092a5e;
}
.ActionPage-container{
	max-width: 100%!important;
	padding-bottom: 0!important;
}
.block_3 .slider-content{
	min-height: auto!important;
}
.mobile_agent .row{
	min-width: 1200px;
}
.contentTable {
    border-collapse: collapse;
   }
.contentTable TD, TH {
    padding: 3px 5px!important;
    border: 1px solid grey!important;
   }
   .contentTable{
   	width: 100%;
   	font-size: 1em!important;
   }
select {
	margin: 0.1em auto 0.5em!important;
	padding: 1%;
  width: 275px;
  height: 30px;
  border: 2px solid #b9b9b9!important;
  border-radius: 5px!important;
  color: #092a5e!important;
  -webkit-appearance: none;
  background-image: url("/getmedia/acdf7741-5f5e-4b96-abe1-520e6d88357b/icon-arrow-down");
  /*background-image: url("/getmedia/67ff9627-f44c-4088-85aa-d05fdefe689d/photo-2");*/
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.1px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}

h2{
	margin: 3em 0 1em;
}
h4{
	margin: 1em 0 0.5em;
}
.row-all img{
	width: 100%;
}
input{
	color: grey!important;
}
ul{
	/*margin: 0em 2em 1em;*/
	/*list-style: disc!important;*/
}
.active-link{
	border-bottom: 4px solid #092a5e;
	color:#092a5e!important;
	cursor: default;
}
.row-all{
	overflow: hidden;
}
.lSPager li>a{
	width: 13px;
  height: 13px;
  border-radius: 13px;
  background: #c2e6fa;
  background-color: #c2e6fa;
  margin: 0 0.5em 0 0;
}
.label{
	width: 160px;
}
.top-slider{
	background: url("/getmedia/f4f3d6f3-1c20-4dab-8f55-7ee78b6dfe51/photo-2");
/*	background-image: url("/getmedia/f4f3d6f3-1c20-4dab-8f55-7ee78b6dfe51/photo-2");*/
	background-size: cover;
	background-position: 100% 10%;
	font-weight: bold;
}
.icon-top{
	padding:35px 0;
	margin-left: 15px;
}
.icon-top img{
	width: 100%;
}
.top-informations{
	font-size: 1.5em;
  margin: 1.9em 0 2.5em;
  background: #ffffff70;
  background-color: rgba(255, 255, 255, 0.4392156862745098);
  padding: 5% 0 5% 5%;
  color: #092a5f;
  width: 76%;
}
.buttons-slider{
	display: flex;
  justify-content: flex-start;
  padding: 0;
}
.button-slider{
  height: 62px;
  border-radius: 2px;
  box-shadow: inset 0 -4px 0 0 #95bc00;
  background-color: #aad700;
  font-size: 1em;
  margin: 0 10px 0px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
  cursor: pointer;
}
.top-informations .button-slider{
	margin-top:1em;
	background-color: #092a5f;
	box-shadow: inset 0 -4px 0 0 #082047;
	color: white;
	font-weight: normal;
}
.video{
	position: relative;
	margin-bottom: 3em;
	min-height: 158px;
}
.topLeft{
	justify-content: space-between;
  align-items: flex-end;
}
.video-dn{
	background-image: url(https://www.tui.ru/getmedia/e90c2edd-b1cb-4d05-9b6d-80ce50b3b779/VIDEO-DN-min);
}
.video-fs{
	background-image: url(https://www.tui.ru/getmedia/5caf49d3-ed70-4026-944d-fd36c9dd0f9e/VIDEO-FS-min);
}
.video-toucan{
	background-image: url(https://www.tui.ru/getmedia/16beb0f7-cb39-4920-9c2a-3256e2764f7e/VIDEO-TOUCAN-min);
}

.play{
	  position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    cursor: pointer;
    background-size: cover;
		background-position: center;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.8em solid #2f3e75;
    border-radius: 0.8em;
}
.play img{
	width: 50%;
	opacity: 0.8;
}
.playOn{
	display:none;
}
.play img:hover{
	transition:0.5s;
	opacity:1;
}
.entertainment::before{
  background: url(../img/2.png);
}
.photo::before{
  background: url(../img/1.png);
}
.entertainment::before,
.photo::before{
	content: "";
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.buttons-navigations{
	display: flex;
	justify-content: flex-start;
	color:#737373;
	margin: 1em 0 0;
	cursor: pointer;
}
.buttons-navigations:a{

}
.button-navigatin{
	padding: 0 0 0.3em;
	margin: 0 1em 1.8em 0;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color:#737373;
}
.slider{
	/*display: flex;*/
	justify-content: space-between;
	min-width: 150px;
	min-height: 150px;
}
.slider .price {
    bottom: 0;
    right: auto;
    left: auto;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
}
.sliders-hotels{
	border: 1px solid #dcdcdc;
	/*width: 32.5%;*/
	background: white;
	background-color: white;
  padding: 0 0 0.5em 0;
  min-height: 390px;
}
.sliders-hotels:hover{
	transition: 0.5s;
	box-shadow: 0 0 15px rgba(158, 158, 158, 0.48);
	cursor: pointer;
}
.sliders-hotels img{
	width:100%;
	height: 204px;
}

.slider-content{
/*	min-height: 100px;*/
	margin: 2% 2% 0;
}
.slider-content ul{
	margin: 1em 2em;
	font-size: 0.8em;
	margio-top: 0;
	color: grey;
}
.gey_p{
	color: grey;
	font-size:0.8em;
}
.block-circle{
  	display: flex;
  	justify-content: center;
  	margin: 1em auto;
	/*width: 50%;*/
}
.circle{
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background: #c2e6fa;
	background-color: #c2e6fa;
	margin:0 0.5em 0 0 ;

}
.block_3{
	background: #e2f3fe;
	background-color: #e2f3fe;
	margin: 3% 0;
	padding: 1%;
}
.block_3 h2{
	margin: 0em 0 0.5em;
}
.price{
	padding: 0 2%;
	font-weight: bold;
}

.price a {
	color: #082a5e;
	text-decoration: none;
}
.price-num{
	font-weight: normal;
	display: none;
}
.label-hotel .price-num{
	display: block;
}
.tour_a{
	background: #ffe100;
	background-color: #ffe100;
    width: 100%;
    text-align: center;
    padding: 0.4em;
}
.tour_a a{
	color:#082a5e!important;
}
.label-hotel a{
	color:white!important;
}
.label-hotel{
	position: relative;
}
.label-hotel .tour_a{
	background: #d40e14;
	background-color: #d40e14;
	color: white;
}
.label-hotel .price{
	position: static!important;
}
.label-hotel .price-num{
	margin: 0em 0em 1em 0em;
}
.label-hotel:before{
	content: "ВЫГОДНОЕ ПРЕДЛOЖЕНИЕ";
	display: block;
	position: absolute;
	width: 180px;
	left:-10px;
	top: -10px;
	padding: 8px;
	background: #d40e14;
	background-color: #d40e14;
  font-size: 0.55em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  z-index:1;
  border-radius: 0 0 0 3px;
}
.label-hotel:after{
	content: "";
	display: block;
	position: absolute;
	left:-14.7px;
	top: 11px;
	border: 5px solid transparent;
	border-right: 10px solid #8c0004;;
	border-bottom: 6px solid transparent;
}

.old-price{
	border-bottom: 2px dashed #dcdcdc;
	color: #dcdcdc;
	text-decoration: line-through;
}
.contact-form{
	background:#092a5e;
	background-color:#092a5e;
	color: white;
	text-align: center;
	overflow: hidden;
}
input{
	width:100%;
	background: white!important;
	background-color: white!important;
	text-align: center;
	margin:0.4em 0;
	height: 2em;
	border-radius:2px !important;
}
.img-slider-md8{
	height: 8em;
}
.submit{
	color: white!important;
	background: #70cbf4!important;
	background-color: #70cbf4!important;
}
.subscription{
	margin: 1.9em;
}
.subscription-block{
	margin: 3em 0;
	display: flex;
  align-items: stretch;
}
.slider-md8{
	background: #e2f3fe;
	background-color: #e2f3fe;
}
.content-slider-md8{
	padding:0 3em 1em;
}
.subscription-block h2{
	margin: 1em 0;
}
.contact-form-parent{
	padding:0;
	background:#092a5e;
	background-color:#092a5e;
}
.time-start{
	display: flex;
}
.hap-programs{
	height:400px;
	position: relative;
	min-width:150px;
}
.hap-programs{
	text-transform: uppercase;
}

.info-img{
	padding:0.5em 0;
	position: absolute;
	bottom:0;
	background: #c2e6facc;
	background-color: rgba(194, 230, 250, 0.8);
	width:100%;
	text-align: center;
}
.info-img h4{
	margin:1em 0;
	min-height: 3em;
}
.download{
	background: #c2e6facc;
	background-color: #c2e6facc;
	padding: 1em;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #1896cf;
	font-size: 1.2em;
	font-weight: bold;
	margin:0;
}
.download img{
	width: 30px;
  margin-right: 10px;
}
.rewiew{
	background: #70cbf4;
	background-color: #70cbf4;
	/*padding:2%;*/
	margin: 1% 0;
}
.rewiew h4{
	margin: 0.5em 0;
}

.rewiew-all{
	background: #e2f3fe;
	background-color: #e2f3fe;
	margin: 2% 0 3%;
}
.rewiew-all .col-md-12{
	padding: 2% 4%;
}
.footer-informations{
		background: #70cbf4;
		background-color: #70cbf4;
		color: white;
		padding: 2% 1%;
}
.footer-informations h3{
	margin:0 0 5%;
	color: #092a5e;
	font-weight: 700;
}
.icons-footer{
	justify-content: space-around;
	align-items: center;
}
.footer-informations a{
	text-decoration: none;
	color: #092a5e!important;
}
.instagram{
	padding:1% 0;
}
.inst-pohoto{
	height: 250px;
	background: blue;
}
.inst-text{
	height: 50px;
	background: red;
}
#instagram{
	text-align:center;
}
#instagram div{
	display: inline-block;
	width:23%;
	margin: 0!important;
	padding:0!important;
}
.inst-descroption{
	white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}
.row-slide-label{
	padding:10px;
}
.content-block{
	display: flex;
}
.performance-title{
	text-transform: uppercase;
	font-size: 1.3em;
	padding: 4% 1em;
	font-weight: bold;
	border-radius: 2px;
  background-color: #70cbf4;
}

.slider-one .leftButton{
   left: 35px;
}
.slider-one .rightButton{
   right: 405px;
}

.slider-one .block-circle{
	display:none;
}
.footer-info{
	justify-content: center;
}
.top-right{
	justify-content: flex-end;
	align-items: flex-end;
}
.price-num > p > b:after{
	content: " ₽";
}

#content
    {
        max-width: 100%;
    }
a{
text-decoration: none!important;
}
p a{
	color: white!important;
}
span.item-text{
	line-height: 1;
}
a.Nav-link:hover{
	color: #fff!important;
	text-decoration: none!important;
}
.contact-form-parent {
    padding: 15px;
}
.slider {
    width: auto!important;
    padding-bottom: 0!important;
}
h4 {
/*    font-size: inherit!important;*/
    line-height: inherit!important;
    font-weight: bold!important;
}
h2{
  font-size: 1.5em!important;
  margin: 1.5em 0 1em!important;
  font-weight: bold!important;
}
h3{
	font-size: 1.17em!important;
	font-weight: bold!important;
}
.rewiew h3{
	margin: 0.5em 0 1rem!important;
}
.slider-content ul{
  /*min-height: 280px;*/
  list-style: disc;
}
.subscription-block {
    display: flex;
    align-items: stretch;
    margin: 3em 0px 0!important;
    height: 350px;
    overflow: hidden;
}
input{
    width: 100%!important;
    background: white!important;
    background-color: white!important;
    text-align: center!important;
    margin: 0.4em 0!important;
    height: 2em!important;
    border-radius: 2px !important;
    font-size: 1em!important;
}
.contact-form h2{
	margin-top: 0px!important;
}
.footer-list li {
    margin-bottom: 5px!important;
}
.rewiew-all{
	background: #e2f3fe;
	background-color: #e2f3fe;
	margin: 2% 0 3%;
	height: 380px;
}

.rewiew-all .col-md-12{
	overflow-y: scroll;
	height: 294px;
}
.rewiew-all .col-md-12::-webkit-scrollbar {
	width: 5px;
}

.rewiew-all .col-md-12::-webkit-scrollbar-track {
  background: #e2f3fe;
  background-color: #e2f3fe;
  border: 10px solid transparent;
}

.rewiew-all .col-md-12::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  background-color: linear-gradient(left, #fff, #e4e4e4);
  border: 10px solid #70cbf4;
}
.input, select, textarea, button {
		width: 275px!important;
    height: 30px!important;
    padding: 1%!important;
 }
 .time-start{
 	text-transform: capitalize!important;
 }
 .imgSlider{
 	width:100%;
 	height: 204px;
 }
.icons-footer{
	margin-bottom: 1em;
}
.mobile .slider {
  min-height: auto!important;
}

.top-toucan{
  	background: url(https://www.tui.ru/getmedia/cf364485-15df-42c3-9e53-97a784c0012d/toucan_back) no-repeat!important;
    background-size: cover;
  	background-position: 0% 0%!important;
  }
.reviews-block{
	display: none;
}

.toucan-ski{
	/*margin-top: 2em;*/
	background-image: url(https://www.tui.ru/getmedia/ffe37bfd-f37d-4c14-8ebe-06d01c768a5d/shutterstock_740740009-min/);
	background-size: cover;
	background-position: 100% 20%;
	font-size: 2em!important;

}
.toucan-ski h2{
	padding-bottom: 0.5em;
  line-height: 1;
}


.oae{
	background-image: url(https://www.tui.ru/getmedia/e111315b-4883-4e2c-96fc-648873cc870c/shutterstock_740869981-min/);
	background-size: cover;
	background-position: 100% 40%;
}
.oae h2{
	font-size: 2.5em!important;
}
.icons-oae{
	display: flex;
	justify-content: flex-end;
	padding: 0.6em 0;
}
.hot a{
	color: inherit!important;
}
.row-ski a{
	text-decoration: underline!important;
}
.price a{
	text-decoration: none!important;
}
.row-ski ul{
	margin: 0em 2em 1em!important;
  list-style: disc!important;
}
.row-ski img{
	width:100%;
	height:100%;
}
.tucan-andorra{
	background: #e2f3fe;
  padding: 2em 0;
}


/*MENU - AGENT*/
.slide-height_tall {
     min-height: 260px!important;
 }
 
 .slide-height_tallone {
     min-height: 176px!important;
 }
 
 .slide-height_talltwo {
     min-height: 240px!important;
 }
 
 .top-informations {
     width: 60%!important;
 }
 
 .row-all {
     background: white;
 }
 
 .menu-top {
     background: #029fe9;
     position: relative;
 }
 
 .logo-img {
    padding: 1.5em 3em 1.5em 15px!important;
 }
 
 .label-menu {
     background-color: #7bc5f0;
     color: #092a5e;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 0 0 2px 2px;
     padding: 10px;
     margin-right: 15px;
 }
 
 .log {
     margin-left: 20px;
     border-radius: 3px;
     background-color: #0f83dd;
     color: white;
 }
 
 .label-menu-2 {
     position: absolute;
     left: 0;
     top: 0;
     width: 130%;
     overflow: hidden;
     display: none;
 }
 /*#c2e6fa*/
 
 .menu-label div:hover > .label-menu-2 {
     z-index: 1;
     margin-top: 47px;
     background: white;
     display: block;
     border-top: 5px solid #029fe9;
 }
 
 .concept-link {
     padding: 10px 2px;
     margin: 0;
     display: flex;
     align-items: center;
     /*justify-content: center;*/
 }
 
 .concept-link a {
     color: #092a5e!important;
 }
 
 .concept-link img {
     width: 50px;
     margin: 15px;
 }
 
 .concept-link:hover {
     transition: 0.5s;
     background: #c2e6fa;
 }
 
 .telephone-title,
 .telephone-number {
     margin: 0;
 }
 
 .menu-telephone {
     margin-top: 15px;
     color: white;
     font-weight: bold;
     align-items: center;
 }
 
 .telephone-number {
     font-size: 25px;
 }
 .but-menu-mobile, #exit_menu{
 		display: none;
	  }
  @media screen and (max-width: 792px) {
  	.mobile_agent .row{
				min-width: 0;
			}
     .top-informations {
         width: 100%!important;
     }
		.but-menu-mobile{
	 		position: relative;
	    display: flex;
	    align-items: center;
	    justify-content: flex-end;
		}
     .but-menu-mobile:before{
     	margin-top: 20px;
     	content: "";
	    display: block;
	    width: 40px;
	    height: 40px;
	    background: url(https://www.tui.ru/images-new/svg-icons/theme/icon-menu.svg);
	    background-repeat: no-repeat;
	    background-size: contain;
     }
	   .mobile_agent{
	  	position: absolute;
	  	padding: 30px;
	  	top: 0;
	  	width: 250px;
	  	right: -350px;
	  	z-index: 1;
	  	transition: 1s;
	  	background: white;
	  }
	  .mobile_agent a {
	  	display: block;
	  	background: white!important;
	  	margin: 0.2em 0;
	  }
	  .label-menu{
	  	width: 100%;
	  	margin-right: 0!important;
	  }
	  .label-menu-2{
	  	left: auto!important;
	  	right: 0;
	  }
	  .mobile_agent .enter{
	  	background: #0f83dd!important;
	  }
	  #exit_menu{
	  position: absolute;
	  display: block;
    top: 10px;
    right: 20px;
    width: 20px;
    text-align: center;
	  }
	  .footer-informations{
		  padding-right: 15px!important;
	    padding-left: 15px!important;
	  }
 }
/*END MENU AGENT*/










@media screen and (max-width: 792px){
	.row-all .video{
		display: none;
	}
	.slider-one{
		padding: 0;
    margin: 0;
    max-width: 100%!important;
	}
	.slider-one .leftButton{
		top:25%;
   	left: 0!important;
	}
	.slider-one .rightButton{
		top:25%;
	  right: 0!important;
	}
	.top-right{
		display: none;
	}
	.top-informations{
		margin: 0 0 2.5em;
	}
	.video{
		    margin-bottom: 2em;
	}
	.outline-m{
		border-bottom: 15px solid #ffffff;
		padding: 0 16px!important;
	}
	.subscription-block{
		height: 100%!important;
		background: #e2f3fe;
	}
	.outline-m .slider{
		max-width:350px;
	}
	.content-slider-md8 {
	  padding: 2%!important;
	  width: 88%;
	}
	.subscription-block h2{
		margin: 1em 0!important;
		font-size: 1.3em!important;
	}
	.top-informations {
    	margin: 0 0 2.5em;
    	width: 100%;
	}	
	.footer-informations h3{
		margin: 5% 0 0;
	}
	.play img {
    width: 30%;
  }
  .outline-m .slider {
  	margin: 0 auto;
  }
  .top-dn{
  	background-position: center!important;
  }
  .top-fs{
  	background-position: 63% 0%!important;
  }
  .top-toucan{
  	background: url(https://www.tui.ru/getmedia/cf364485-15df-42c3-9e53-97a784c0012d/toucan_back) no-repeat!important;
    background-size: cover;
  	background-position: 30% 20%!important;
  }
  .container > h2{
    /*margin-left: -10px!important;*/
    margin-right: -10px!important;
   }

	.toucan-ski {
    background-position: 0% 20%;
  }
  .icon-toucan{
  	padding-top: 1em;
  }

}


/*BAG*/
.ActionPage-container{
	padding-button:0!important;
}