body{
	margin: 0 auto;
	font-family: TUI-reg;
  font-size: 18px !important;
  color: #092a5e;
}
.contentTable{
	margin-top:2em;
}
select {
  margin: 0.1em auto 0.5em!important;
  padding: 1%;
  width: 275px;
  height: 30px;
  border: 2px solid #b9b9b9!important;
  border-radius: 5px;
  color: #092a5e!important;
  -webkit-appearance: none;
  background-image: url("https://www.tui.ru/getmedia/7cdb1995-fdbf-420c-9cb5-77af4a589711/icon-arrow-down");
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.1px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}

#content{
    max-width: 100%;
}
.h2, h2{
	font-size: 1.5em!important;
    margin: 1.5em 0 1em!important;
    font-weight: bold!important;
}
img{
	width: 100%;
}
input{
	color: grey!important;
}
.active-link{
	border-bottom: 4px solid #092a5e;
	color:#092a5e!important;
	cursor: default;
}
.row-all{
	overflow: hidden;
}
.lSPager li>a{
	width: 13px;
  height: 13px;
  border-radius: 13px;
  background: #c2e6fa;
  margin: 0 0.5em 0 0;
}
.label{
	width: 160px;
}
.top-slider{
	background: url(https://www.tui.ru/getmedia/a7b589cd-7a8d-4e5f-b281-67ac8626101c/DN-image) no-repeat;
	font-weight: bold;
    background-size: cover;
    background-position: 90% 10%;
}
.icon-top{
	padding:35px 0;
	margin-left: 15px;
}
.icon-top img{
	width: 100%;
}
.buttons-slider{
	display: flex;
  justify-content: flex-start;
  padding: 0;
}
.button-slider{
  height: 62px;
  border-radius: 2px;
  box-shadow: inset 0 -4px 0 0 #95bc00;
  background-color: #aad700;
  font-size: 1em;
  margin: 0 10px 0px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
  cursor: pointer;
}
.top-informations .button-slider{
	margin-top:1em;
	background-color: #092a5f;
	box-shadow: inset 0 -4px 0 0 #082047;
	color: white;
	font-weight: normal;
}
.video{
	postion: relative;
	margin-bottom: 3em;
}
.topLeft{
	justify-content: space-between;
  align-items: flex-end;
}

.playOn{
	display:none;
}

.entertainment::before{
  background: url(../img/2.png);
}
.photo::before{
  background: url(../img/1.png);
}
.entertainment::before,
.photo::before{
	content: "";
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.buttons-navigations{
	display: flex;
	justify-content: flex-start;
	color:#737373;
	margin: 1em 0 0;
	cursor: pointer;
}
.buttons-navigations:a{

}
.button-navigatin{
	padding: 0 0 0.3em;
	margin: 0 1em 1.8em 0;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color:#737373;
}
.slider{
	/*display: flex;*/
	justify-content: space-between;
	min-width: 150px;
	min-height: 150px;
	padding-bottom: 0px!important;
    width: auto!important;
}
.sliders-hotels{
	border: 1px solid #dcdcdc;
	/*width: 32.5%;*/
	background: white;
  	padding: 0 0 0.5em 0;
	min-height: 401px!important;
}
.sliders-hotels:hover{
	transition: 0.5s;
	box-shadow: 0 0 15px rgba(158, 158, 158, 0.48);
	cursor: pointer;
}
.sliders-hotels img{
	width:100%;
	height: 204px;
}

.slider-content{
	min-height: 100px;
	margin: 2% 2% 8%;
}
.slider-content ul{
	margin: 1em 2em;
	font-size: 0.8em;
}
.gey_p{
	color: grey;
	font-size:0.8em;
}
.block-circle{
	display: flex;
	justify-content: center;
	/*width: 50%;*/
	margin: 1em auto;
}
.circle{
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background: #c2e6fa;
	margin:0 0.5em 0 0 ;

}
.block_3{
	background: #e2f3fe;
	margin: 3% 0;
	padding: 1%;
}
.block_3 h2{
	margin: 0em 0 0.5em;
}
.price{
	padding: 0 2%;
	font-weight: bold;
}
.price-num{
	font-weight: normal;
}
.tour_a{
	background: #ffe100;
    width: 100%;
    text-align: center;
    padding: 0.4em;
}
.label-hotel{
	position: relative;
}
.label-hotel .tour_a{
	background: #d40e14;
	color: white;
}

.label-hotel .price-num{
	margin: 0em 0em 1em 0em;
}
.label-hotel:before{
	content: "ВЫГОДНОЕ ПРЕДЛOЖЕНИЕ";
	display: block;
	position: absolute;
	width: 180px;
	left:-10px;
	top: -10px;
	padding: 8px;
	background: #d40e14;
  font-size: 0.55em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  z-index:1;
  border-radius: 0 0 0 3px;
}
.label-hotel:after{
	content: "";
	display: block;
	position: absolute;
	left:-14.7px;
	top: 11px;
	border: 5px solid transparent;
	border-right: 10px solid #8c0004;;
	border-bottom: 6px solid transparent;
}

.old-price{
	border-bottom: 2px dashed #dcdcdc;
	color: #dcdcdc;
	text-decoration: line-through;
}
.contact-form{
	background:#092a5e;
	color: white;
	text-align: center;
	overflow: hidden;
}
input{
    width: 100%!important;
    background: white!important;
    text-align: center!important;
    margin: 0.4em 0!important;
    height: 2em!important;
    border-radius: 2px !important;
    font-size: 1em!important;
}
.img-slider-md8{
	height: 8em;
}
.submit{
	color: white!important;
	background: #70cbf4!important;
}
.subscription{
	margin: 1.9em;
}
.subscription-block{
	margin: 3em 0;
	display: flex;
  align-items: stretch;
}
.slider-md8{
	background: #e2f3fe;
}
.content-slider-md8{
	padding:0 3em 1em;
}
.subscription-block h2{
	margin: 1em 0;
}
.contact-form-parent{
	padding: 15px;
	background:#092a5e;
}
.time-start{
	display: flex;
}
.hap-programs{
	height:400px;
	position: relative;
	min-width:150px;
}
.hap-programs{
	text-transform: uppercase;
}

.info-img{
	padding:1em 0;
	position: absolute;
	bottom:0;
	background: #c2e6facc;
	width:100%;
	text-align: center;
}
.info-img h4{
	margin:1em 0;
}
.download{
	background: #c2e6facc;
	padding: 1em;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #1896cf;
	font-size: 1.2em;
	font-weight: bold;
	margin:0;
}
.download img{
	width: 30px;
  margin-right: 10px;
}
.rewiew{
	background: #70cbf4;
	/*padding:2%;*/
	margin: 0 0 1%;
}
.rewiew h4{
	margin: 0.5em 0;
}

.rewiew-all{
	background: #e2f3fe;
	margin: 2% 0 3%;
	min-height: 380px!important;
	height: inherit!important;
}

.rewiew-all .col-md-12::-webkit-scrollbar {
	width: 5px;
}

.rewiew-all .col-md-12::-webkit-scrollbar-track {
  background: #e2f3fe;
  border: 10px solid transparent;
}

.rewiew-all .col-md-12::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 10px solid #70cbf4;
}

.rewiew-all .col-md-12{
    overflow: scroll;
    overflow-x: hidden;
    height: 330px;
}
.footer-informations{
		background: #70cbf4;
		color: white;
		padding: 2% 1%;
}
.icons-footer{
	justify-content: flex-start;
	align-items: center;
}
.footer-informations a{
	text-decoration: none;
	margin: 4px;
}
.instagram{
	padding:1% 0;
}
.inst-pohoto{
	height: 250px;
	background: blue;
}
.inst-text{
	height: 50px;
	background: red;
}
#instagram{
	text-align:center;
}
#instagram div{
	display: inline-block;
	width:23%;
	margin: 1%;
}
.inst-descroption{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-slide-label{
	padding:10px;
}
.content-block{
	display: flex;
}
.performance-title{
	text-transform: uppercase;
	font-size: 1.3em;
	padding: 4% 1em;
	font-weight: bold;
	border-radius: 2px;
  background-color: #70cbf4;
}

.slider-one .leftButton{
   left: 35px;
}
.slider-one .rightButton{
   right: 405px;
}

.slider-one .block-circle{
	display:none;
}
.footer-info{
	justify-content: center;
}
.top-right{
	justify-content: flex-end;
	align-items: flex-end;
}
.price-num > p > b:after{
	content: " ₽";
}
.contact-form h2 {
    margin-top: 0px!important;
}

/*############################################*/
span.item-text{
	line-height: 1;
}
a.Nav-link:hover{
	color: #fff;
	text-decoration: none!important;
}
a:hover{
	text-decoration: none!important;
}

.footer-list li {
    margin-bottom: 5px!important;
}

.input, select, textarea, button {
	width: 275px!important;
    height: 30px!important;
    padding: 1%!important;
 }

.jus-cont{
	justify-content: space-around;	
}
/*############################################*/

.txt-lower{
	text-transform: none;
	margin: 0 auto;
}
 .subscription-block {
     display: flex;
     align-items: stretch;
     margin: 3em 0px 0!important;
     height: 350px;
     overflow: hidden;
  }
 .imgSlider{
 	width:100%;
 	height: 204px;
 }

@media screen and (max-width: 792px){
	.content-slider-md8 {
	  padding: 0 0.5em 1em;
	  width: 80%;
	}
	.content-slider-md8 h2{
		font-size: 1.1em;
	}
	.slider-one .leftButton{
		top:25%;
   		left: 20px;
	}
	.slider-one .rightButton{
		top:25%;
	   right: 20px;
	}
	.subscription-block{
		background:#e2f3fe;
	}
	.top-right{
		display: none;
	}
	.top-informations{
		margin: 0 0 2.5em;
	}
	.video{
		margin-bottom: 2em;
	}
	.mobile .header {
    line-height: 20px;
	font-size: 15px;
	}
}
