.row-all {
     background-color: white;
     line-height: 1.5;
 }
 
 .menu-top {
     background: #029fe9;
 }
 
 .logo-img {
     padding: 1.5em;
 }
 
 .label-menu {
     background-color: #7bc5f0;
     color: #092a5e;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 0 0 2px 2px;
     padding: 10px;
     margin-right: 15px;
 }
 
 .log {
     margin-left: 20px;
     border-radius: 3px;
     background-color: #0f83dd;
     color: white;
 }
 
 .label-menu-2 {
     position: absolute;
     left: 0;
     top: 0;
     width: 130%;
     overflow: hidden;
     display: none;
 }
 /*#c2e6fa*/
 
 .menu-label div:hover > .label-menu-2 {
     z-index: 1;
     margin-top: 47px;
     background: white;
     display: block;
     border-top: 5px solid #029fe9;
 }
 
 .concept-link {
     padding: 10px 2px;
     margin: 0;
     display: flex;
     align-items: center;
     /*justify-content: center;*/
 }
 
 .concept-link a {
     color: #092a5e!important;
 }
 
 .concept-link img {
     width: 50px;
     margin: 15px;
 }
 
 .concept-link:hover {
     transition: 0.5s;
     background: #c2e6fa;
 }
 
 .telephone-title,
 .telephone-number {
     margin: 0;
 }
 
 .menu-telephone {
     margin-top: 15px;
     color: white;
     font-weight: bold;
     align-items: center;
 }
 
 .telephone-number {
     font-size: 25px;
 }
 .time-start{
     display: none!important;
 }
 .icons-social{
       fill: #00265f;
       width:100%;
       width: 35px;
       height: 35px;
   }
 @media screen and (max-width: 792px) {
     .top-informations {
         width: 100%!important;
     }
 }
 .tour_a{
 	margin-bottom: .5em;
 }
 .label-menu a{
 	background: inherit;
 }
